[submodule "external/MotecLogGenerator"]
	path = external/MotecLogGenerator
	url = https://github.com/jyjh/MotecLogGenerator.git
	branch = master
[submodule "external/LTSTelemetryVisualizer"]
	path = external/LTSTelemetryVisualizer
	url = https://github.com/jyjh/LTSTelemetryVisualizer.git
	branch = main
